<ul id="admin-nav" class="side-nav {$global['main_color']} {$global['secondary_text_color']}">                 
    <li><a class="{$global['secondary_text_color']}" href="{plink :Admin:Admin:}">Administrácia</a></li>                  
    <li><a class="{$global['secondary_text_color']}" href="{plink :Admin:Admin:content}">Správa obsahu</a></li>        
    <li><a class="{$global['secondary_text_color']}" href="{plink :Admin:Admin:global}">Globálne nastavenia</a></li>
    <li><a class="{$global['secondary_text_color']}" href="{plink :Admin:User:default}">Používatelia</a></li>
    <li><a class="{$global['secondary_text_color']}" href="{plink :Admin:User:profile $user->getId()}">Profil</a></li>
    <li><a class="{$global['secondary_text_color']}" href="{plink :Admin:Bin:default}">Kôš</a></li>
</ul>   
