<ul id="admin-nav" class="side-nav light-blue lighten-1">                 
    <li><a class="white-text" href="{plink :Admin:Admin:}">Administrácia</a></li>                  
    <li><a class="white-text" href="{plink :Admin:Admin:content}">Správa obsahu</a></li>        
    <li><a class="white-text" href="{plink :Admin:Admin:global}">Globálne nastavenia</a></li>
    <li><a class="white-text" href="{plink :Admin:User:default}">Používatelia</a></li>
    <li><a class="white-text" href="{plink :Admin:User:profile $user->getId()}">Profil</a></li>
    <li><a class="white-text" href="{plink :Admin:Bin:default}">Kôš</a></li>
</ul>   
