<ul id="admin-nav" class="side-nav light-blue lighten-1">        
    <li><a class="white-text" href="{plink :Admin:Admin:}">Administrácia</a></li>
    <li><a class="white-text" href="{plink :Admin:User:profile $user->getId()}">Profil</a></li>
</ul>