<ul id="admin-nav" class="side-nav light-blue lighten-1">        
    <li><a class="white-text" href="{plink :Admin:Admin:}">Administracia</a></li>
    <li><a class="white-text" href="{plink :Admin:Admin:content}">Sprava obsahu</a></li> 
    <li><a class="white-text" href="{plink :Admin:User:profile $user->getId()}">Profile</a></li>
</ul>