/*
Main SCSS template for webpage
*/
/* 
    Created on : 2.8.2015, 11:54:28
    Author     : niC00L
*/
/*$white = hsla(100, 100, 100, 1);*/
@import 'materialize/components/_prefixer.scss';

/*HELPER CLASSES*/
.padding-vertical-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.padding-vertical-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.padding-vertical-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.inline-block {
    display: inline-block;
}


body {
    font-size: 12px;
}

.form-invisible {
    /*form {*/
        label {
            display: none;
        }
        input[type='text'], textarea {
            border: none;
            margin-bottom: 0;
        } 
    /*}*/

    /*CUSTOM STYLES FOR PROFILE PAGE*/
    input[name='profile_image'], input[name='background_image'], input[name='title_image'] {
        display: none;
    }
    .display_name{        
        margin: 0;
        padding-top: 1rem;
        /*padding-bottom: 1rem;*/
        text-align: center;
        font-size: 2.5rem;  
    }
    .email{
        text-align: center;
        height: auto;
        padding-bottom: .2rem;
        padding-top: .2rem;
        margin: 0;
    }
    .about {
        padding-top: 2rem;
        padding-bottom: 1.5rem;
        text-align: center;        
        text-transform: uppercase;
        font-size: 1.3rem;
        /*border-bottom: 2px dashed hsla(0,0,0,.3);*/
    }

    /*CUSTOM STYLE FOR POST PAGE*/    
    .title {        
        height: auto;
        margin: 2.1rem 0 1.68rem 0;
        font-size: 4.2rem;
        line-height: 110%;
    }

    /*CUSTOM STYLES FOR IMAGE INPUT*/
    .edit-img {
        position: relative;                  
        padding: 0;
        height: 100%;        
        cursor: pointer;                

        &.profile {
            margin-top: -25vh;
            width: 40vmin;
            height: 40vmin;
            display: inline-block;            
            border-radius: 50%;
            overflow: hidden;  
            border: .5rem solid white;

            .uploadImg {
                padding-top: 0;
                border-radius: 50%;
            }

            #profilePic {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
            }
        }

        .uploadImg {
            position: absolute;
            width: 100%;
            height: 100%;
            padding-top: 3vh;
            z-index: 999;
            font-size: 3rem;
            text-align: center;
            opacity: 0;                        
            background-color: hsla(100, 100, 100, .5);
            @include transition( all .2s ease);

            span{width: 100%;}
        }
        img{    
            @include transition( all .2s ease);
        }

        &:hover {
            .uploadImg {opacity: 1;}
        }
    }        
}

label:after {width: 100px;}

/*CUSTOM STYLE FOR POST PAGE*/  
.author {
    padding-top: .5rem;
    padding-bottom: .5rem;

    span {vertical-align: middle;}        
    .author-pic {
        display: inline-block;
        width: 3.5rem;
        height: 3.5rem;
        background-size: cover;
        background-position: center;
        border: .25rem solid white;
    }
}
#otherSettings {
    max-height: 60vh;
}

/*CUSTOM STYLE FOR COMMENTS*/
.comment{
    .author-pic {
        width: 15vmin;
        height: 15vmin;
        margin-left: .8rem;
        margin-right: 1rem;
        display: inline-block;
        background-size: cover;
        background-position: center;
    }
    .text {
        vertical-align: top;
    }
}

/*ADMIN SIDE NAVIGATION*/
@media only screen and (min-width: 993px){
    header, main {
        &.admin-open {
            padding-right: 240px;
        }
    }

    #admin-nav {        
        right: -250px !important;
        &.admin-open {
            right: 0 !important;
        }
    }
    .container {
        width: 85%;
    }

    .w-trans {
        @include transition( all .2s ease);
    }
}
