{block content}
{foreach $defaults as $d}
    {form multiplierForm-$d->id}
        {foreach $form->getControls() as $control}        
            <div class="input-field">
                {input $control}
                {label $control/}
            </div>
        {/foreach}
    {/form}
{/foreach}