{block content}
	<h1>Imagine Dragons and 21 pilots are AWESOME</h1>
	
	{foreach $pages as $page}
		<div class="post">
			<h2>{$page->title}</h2>
			<p>{$page->text}<p>
			<p> Created: {$page->create_date}</p>
		</div>	
	{/foreach}	
{/block}