{block content}

{form editForm}
    {foreach $form->getControls() as $control}        
        {if $control->getName() == 'email'}
            <input disabled n:name="$control">
        {else}
            {input $control}
        {/if}
    {/foreach}
    <a class="waves-effect waves-light btn modal-trigger" href="#modal-pw">Zmeniť heslo</a>
{/form}
