{block content}

{form editForm}
    <ul class="errors" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{$error}</li>
    </ul>
    {foreach $form->getControls() as $control}           
        {if $control->getName() == 'email'}
            <input n:name="$control" value="{$control->value}">
        {else}
            {input $control}
        {/if}
    {/foreach}
    <a class="waves-effect waves-light btn modal-trigger" href="#modal-pw">Zmeniť heslo</a>
{/form}
