{* Latte template *}

{block content}
<div class="col s12 m6 l6 offset-m3 offset-l3">
    {if $user->isAllowed('components', 'edit')}
        <div class="form-invisible">
            {form editForm}
				<div class="tinymce">
				</div>
				<div class="mced hide">
					{input text}
				</div>
                {input submit}               
            {/form}
        </div>
    {else}
        <h3 class="center-align">{$text['title']}</h3>
        {$text['text']|noescape}
    {/if}
</div>