{block content}
<div class="controls">
    {foreach $controls as $control}
        <div class="row control-wrapper">
            {if $user->isAllowed('components', 'edit')}
                <div class='inline-form'>                
                    {if $control['component_name'] == 'banner'}
                        <a class="btn control-action" href="{plink :Admin:Gallery:banner $control['id']}">Upraviť komponentu</a>
                    {elseif $control['component_name'] == 'menu'}
                        <a class="btn control-action" href="{plink :Admin:Menu:editMenu $control['id']}">Upraviť komponentu</a>
                    {/if}
                    {form deleteControl-$control->id}
                        {input id}
                        {input delete}
                    {/form}
                </div>
            {/if}                                
            {control $control['component_name']:default $control['id']}
        </div>
    {/foreach}

    {if $user->isAllowed('components', 'edit')}
        <a class="modal-trigger" href="#addControl-{$position}"><span class='cyan-text text-darken-4'><i class="fa fa-plus" aria-hidden="true"></i> Pridať komponentu</span></a>

        <div id="addControl-{$position}" class="modal bottom-sheet">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m10 l8 offset-m1 offset-l2">
                            <h4>Pridanie komponenty</h4>
                            {form addControlForm}
                                {foreach $form->getControls() as $item}
                                    {if $item->getName() == 'position'}
                                        <input n:name="position" value="{$position}">
									{elseif $item->getName() == 'component_name'}
										{label $item/}
										{input $item}                                        
									{elseif $item->getName() == 'template'}
										{label $item/}
										{input $item}                                        
									{else}
										<div class="input-field">
											{label $item/}
											{input $item}                                        
										</div>
									{/if}
								{/foreach}
							{/form}
						</div>
					</div>
				</div>
			</div>
		</div>
	{/if}
</div>

<script>
	$(function () {
		var control = $('[name=component_name]').val();
		$('[name=template]').find('optgroup').hide();
		$('[name=template]').find('optgroup[label=' + control + ']').show();

		$('[name=component_name]').change(function () {
			var control = $(this).val();
			$('[name=template]').find('optgroup').hide();
			$('[name=template]').find('optgroup[label=' + control + ']').show();
		});
	});
</script>


