{block content}

<h1> {$category->name} </h1>
<p> {$category->description} </p>	

{foreach $posts as $post}
	<a n:href="Post:show $post->address"><h2>{$post->title}</h2></a>
	<blockquote>{$post->description}</blockquote>
{/foreach}

{/block}