<h4>Galéria k článku</h4>

<div class="row">
    {foreach $images as $i}            
        <div class="col s6 m4 l3">
            <div class="card">
                <div class="card-image">
                    <img class="materialboxed responsive-img" data-caption="{$i['description']}" src="{$basePath}/images/gallery/{$gallery_id}/{$i['image_name']}" alt="{$i['alt']}">                
                    <span class="card-title">{$i['title']}</span>                    
                </div>
            </div>
        </div>            
    {/foreach}
    {if $user->loggedIn}
        <div class="col s6 m4 l3">
            <div class="card">
                {if $user->isAllowed('gallery', 'edit')}
                    <a href="{plink Admin:Gallery:Add $gallery_id}" class="card-title">Pridať obrázok</a>
                {/if}                
            </div>
        </div>
    {/if}
</div>
