{block content}
<header>
    <nav class="light-blue lighten-1 top-nav">
        <div class="container">
            <div class="nav-wrapper">
                <a class="brand-logo" href="{plink :Homepage:}">Logo</a>
                {if $user->loggedIn && $user->getRoles()[0] != 'banned'}
                    <a href="#" data-activates="admin-nav" data-side="right" class="button-collapse toggle-admin right"><i class="mdi-navigation-menu"></i></a>
                    <a href="#" data-toggle="admin-nav" data-side="right" id="admin-toggle" class="right hide-on-med-and-down"><i class="mdi-navigation-menu"></i></a>
                    {/if}
                <ul class="right hide-on-med-and-down">						
                    {foreach $links as $link}
                        {if $link->status == 1}
                            {if $link->type == 'Homepage'}
                                <li><a class="{$link->class}" href="{plink :Homepage: }">{$link->title}</a></li>

                            {elseif $link->type == 'Post'}
                                <li><a  class="{$link->class}"href="{plink ':'.$link->type.':'.$link->action $link->address}">{$link->title}</a></li>					

                            {elseif $link->type == 'Sign'}
                                {if $user->loggedIn}
                                    <li><a class="{$link->class}" href="{plink :Sign:out}">Odhlásit</a></li>
                                    {else}
                                    <li><a class="{$link->class}" href="{plink :Sign:in}">Prihlásit</a></li>
                                    {/if}					
                                {/if}
                            {elseif $link->status == 2}
                                {if $user->loggedIn}
                                    {if $link->type == 'Homepage'}
                                    <li><a class="{$link->class}" href="{plink :Homepage: }">{$link->title}</a></li>

                                {elseif $link->type == 'Post'}
                                    <li><a  class="{$link->class}"href="{plink ':'.$link->type.':'.$link->action $link->address}">{$link->title}</a></li>					

                                {elseif $link->type == 'Sign'}
                                    {if $user->loggedIn}
                                        <li><a class="{$link->class}" href="{plink :Sign:out}">Odhlásit</a></li>
                                        {else}
                                        <li><a class="{$link->class}" href="{plink :Sign:in}">Prihlásit</a></li>
                                        {/if}					
                                    {/if}
                                {/if}
                            {/if}
                        {/foreach}
                </ul>                                
                <ul id="slide-out" class="side-nav">						
                    {foreach $links as $link}
                        {if $link->status == 1}
                            {if $link->type == 'Homepage'}
                                <li><a class="{$link->class}" href="{plink :Homepage: }">{$link->title}</a></li>

                            {elseif $link->type == 'Post'}
                                <li><a  class="{$link->class}"href="{plink ':'.$link->type.':'.$link->action $link->address}">{$link->title}</a></li>					

                            {elseif $link->type == 'Sign'}
                                {if $user->loggedIn}
                                    <li><a class="{$link->class}" href="{plink :Sign:out}">Odhlásit</a></li>
                                    {else}
                                    <li><a class="{$link->class}" href="{plink :Sign:in}">Prihlásit</a></li>
                                    {/if}					
                                {/if}
                            {elseif $link->status == 2}
                                {if $user->loggedIn}
                                    {if $link->type == 'Homepage'}
                                    <li><a class="{$link->class}" href="{plink :Homepage: }">{$link->title}</a></li>

                                {elseif $link->type == 'Post'}
                                    <li><a  class="{$link->class}"href="{plink ':'.$link->type.':'.$link->action $link->address}">{$link->title}</a></li>					

                                {elseif $link->type == 'Sign'}
                                    {if $user->loggedIn}
                                        <li><a class="{$link->class}" href="{plink :Sign:out}">Odhlásit</a></li>
                                        {else}
                                        <li><a class="{$link->class}" href="{plink :Sign:in}">Prihlásit</a></li>
                                        {/if}					
                                    {/if}
                                {/if}
                            {/if}
                        {/foreach}
                </ul>   
                <a href="#" data-activates="slide-out" class="button-collapse toggle-menu" data-side="left"><i class="mdi-navigation-menu"></i></a>
                <div class="clearfix"></div>
            </div>
        </div>
    </nav>
    {if $user->loggedIn && $user->getRoles()[0] != 'banned'}
        {var $role = $user->getRoles()[0]}
        {include 'Admin/'.$role.'.latte'}
    {/if}

</header>