{block content}
<header>
    <nav class="light-blue lighten-1 top-nav">
        <div class="container">
            <div class="nav-wrapper">
                <a class="brand-logo" href="{plink :Homepage:}">Logo</a>
                <a n:if="$user->loggedIn" href="#" data-activates="admin-nav" class="button-collapse right"><i class="mdi-navigation-menu"></i></a>
                <a n:if="$user->loggedIn" href="#" data-toggle="admin-nav" id="admin-toggle" class="right hide-on-med-and-down"><i class="mdi-navigation-menu"></i></a>
                <ul class="right hide-on-med-and-down">						
                    {foreach $links as $link}
                        {if $link->status == 1}
                            {if $link->type == 'Homepage'}
                                <li><a class="{$link->class}" href="{plink :Homepage: }">{$link->title}</a></li>

                            {elseif $link->type == 'Post'}
                                <li><a  class="{$link->class}"href="{plink ':'.$link->type.':'.$link->action $link->address}">{$link->title}</a></li>					

                            {elseif $link->type == 'Sign'}
                                {if $user->loggedIn}
                                <li><a class="{$link->class}" href="{plink :Sign:out}">Odhlásit</a></li>
                                {else}
                                <li><a class="{$link->class}" href="{plink :Sign:in}">Prihlásit</a></li>
                                {/if}					
                            {/if}
                        {elseif $link->status == 2}
                            {if $user->loggedIn}
                                {if $link->type == 'Homepage'}
                                <li><a class="{$link->class}" href="{plink :Homepage: }">{$link->title}</a></li>

                            {elseif $link->type == 'Post'}
                                <li><a  class="{$link->class}"href="{plink ':'.$link->type.':'.$link->action $link->address}">{$link->title}</a></li>					

                            {elseif $link->type == 'Sign'}
                                {if $user->loggedIn}
                                    <li><a class="{$link->class}" href="{plink :Sign:out}">Odhlásit</a></li>
                                    {else}
                                    <li><a class="{$link->class}" href="{plink :Sign:in}">Prihlásit</a></li>
                                    {/if}					
                                {/if}
                            {/if}
                        {/if}
                    {/foreach}
                </ul>                                
                <div class="clearfix"></div>
            </div>
        </div>
    </nav>
    <ul n:if="$user->loggedIn" id="admin-nav" class="side-nav light-blue lighten-1">
        <li><a class="white-text" href="{plink :Admin:Admin:}">Administracia</a></li>
        <li><a class="white-text" href="{plink :Admin:Menu:editMenu}">Sprava menu</a></li>                    
        <li><a class="white-text" href="{plink :Admin:Admin:content}">Sprava obsahu</a></li>
    </ul>   
</header>