{block content}

    <p><a n:href="Homepage:default"> Spat </a></p>

    {if $user->loggedIn}
        {control postForm}
        {control postFormDelete}
    {else}
        <h1> {$post->title} </h1>
        <p> {$post->text} </p>	
    {/if}

    <strong> {$post->create_date}</strong>