<div class="carousel">
    {foreach $images as $img}
        <a class="carousel-item" href="#{$iterator->getCounter()}!"><img src="{$basePath}/images/banners/{$id}/{$img->image_name}" alt="{$img->alt}"></a>
        {/foreach}
</div>

