<div class="carousel carousel-slider">
    {foreach $images as $img}
        <a class="carousel-item" href="#{$iterator->getCounter()}!"><img src="{$basePath}/images/ctrl_banner/{$id}/{$img->image_name}" alt="{$img->alt}"></a>
        {/foreach}
</div>

