<div class="slider">
    <ul class="slides">
        {foreach $images as $img}
            <li>
                <img src="{$basePath}/images/banners/{$id}/{$img->image_name}" alt="{$img->alt}">
                <div class="caption center-align">
                    <h3>{$img->title}</h3>
                    <h5 class="light grey-text text-lighten-3">{$img->description}</h5>
                </div>
            </li>
        {/foreach}
    </ul>
</div>