{if count($comments)>0}
    <div class="row">     
        <h4>Komentáre</h4>
        {foreach $comments as $com}
            <div class="col s12 comment">
                <div class="card">
                    <div class="row card-content">
                        <a href="{plink Admin:User:profile $com['user_id']}">
                            {if $com['img']}
                                <div class="circle author-pic inline-block" style="background-image:url({$basePath}/images/users/{$com['user_id']}/{$com['img']}" alt="{$com['name']})">
                                </div>
                            {else}
                                <div class="circle author-pic inline-block" style="background-image:url({$basePath}/images/default/profile.jpg" alt="{$com['name']})">
                                </div>
                            {/if}
                        </a>                            
                        <div class='inline-block text'>
                            <a href="{plink Admin:User:profile $com['user_id']}">
                                <span class="card-title grey-text text-darken-4">{$com['name']}</span>
                            </a>
                            <p class="grey-text">{$com['date']|date:'%d.%m.%Y'}</p>
                            <p>{$com['text']}</p>
                        </div>
                    </div>
                </div>
            </div>
        {/foreach}    
    </div>
{/if}
{if $user->isAllowed('comment', 'add')}
    <div class="card grey lighten-4">
        <div class="card-content grey-text text-darken-4">
            <span class="card-title teal-text">Pridať komentár</span>
            {form addCommentForm}  
                {if !$user->isLoggedIn()}
                    <div class="row">
                        <div class="input-field col s12 m6">
                            {input name}
                            {label name/}
                        </div>
                        <div class="input-field col s12 m6">
                            {input email}
                            {label email/}
                        </div>
                    </div>
                {/if}
                <div class="input-field">
                    {input text}
                    {label text/}
                </div>
                {input submit}
            {/form}
        </div>
    </div>
{else}
    <strong>Pre pridávanie kmentárov sa musíte prihlásiť</strong>
{/if}