{block content}		
<main>
    <div class="container padding-vertical-2">
        {control HomepageHeader}
        <h1 class="center-align {$global['main_text_color']}"> {$global['site_title']} </h1>        
        {control HomepageContent}
    </div>
</main>
{/block}
