{block content}		
<h1> Rainbow dust </h1>
<blockquote>
    The most intuitive and the simplest CMS in the world.
</blockquote>
<img src="{$basePath}/images/magic.gif">
<h2> <a n:if="$user->loggedIn" n:href=":Admin:Admin:">Administracia</a></h2>
<p>Some serious stuff here</p>		

<div id="tickets"></div>	
{/block}
